header {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.search-img {
    width: 40px;
    margin: 0 10px;
}

.text {
    width: 150px;
}
/* 
#search-bar {
    width: 50%;
    height: 30px;
    text-align: center;
} */