
#commentsection {
    display: flex;
    flex-wrap: wrap;
}

input#comment {
    width: 100%;
    height: 40px;
}

.divvy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:  flex-start;
}

.comments {
    flex-basis: 50%;
    justify-content: flex-start;
}

.users {
    padding-top: 15px;
}

.form {
    flex-basis: 100%;
    
}