
* {
    box-sizing: border-box;
}

.icon {
    width: 40px;
    margin: 10px;
}

.post-container {
    border: 1px solid black;
    width: 700px;
    margin: 10px;
    text-align: left;
}

.post-container p {
    padding: 0 10px;
}

.thumbnail {
    text-align: left;
    border-radius: 50%;
    width: 75px;
    vertical-align: middle;
}

.fa-icon {
    margin: 10px;
}

#username {
    display: inline-block;
    padding: 10px 0;
    margin-left: 10px;
}
